<launch>
    <!-- Global arg-->
    <arg name="protocol_version" default="2.0" />
    <arg name="baudrate" default="1000000" />
    <arg name="addr_present_position" default="132" />
    <arg name="len_present_position" default="4" />
    <arg name="urdf_filename" default="$(find dxl_6d_input)/src/arm.urdf" />
    <arg name="debuginfo" default="false" />
    <arg name="space_scalar" default="2.0" />
    <arg name="using_pedal" default="true" />

    <!-- Left arm -->
    <arg name="devicename_left" default="/dev/ttyUSB0" /> <!-- Change this to the correct port -->
    <arg name="ids_left" default="1,2,3,4,5,6,7"/>
    <arg name="arm_side_left" default="left" /> <!-- Change this to the correct side -->
    <arg name="left_position_topic" default="/dxl_input/pos_left" /> <!-- Change this to the correct topic -->
    <arg name="left_gripper_topic" default="/dxl_input/gripper_left" /> <!-- Change this to the correct topic -->
    <arg name="left_robot_position_topic" default="/cartesian/gripper_left_grasping_frame/current_reference" /> <!-- Change this to the correct topic -->

    <node name="left_dxl_6d_input" pkg="dxl_6d_input" type="dxl_6d.py" output="screen">
        <param name="protocol_version" value="$(arg protocol_version)" />
        <param name="devicename" value="$(arg devicename_left)" />
        <param name="baudrate" value="$(arg baudrate)" />
        <param name="addr_present_position" value="$(arg addr_present_position)" />
        <param name="len_present_position" value="$(arg len_present_position)" />
        <param name="ids" value="$(arg ids_left)" />
        <param name="urdf_filename" value="$(arg urdf_filename)" />
        <param name="debuginfo" value="$(arg debuginfo)" />
        <param name="arm_side" value="$(arg arm_side_left)" />
        <param name="position_topic" value="$(arg left_position_topic)" />
        <param name="gripper_topic" value="$(arg left_gripper_topic)" />
        <param name="robot_position_topic" value="$(arg left_robot_position_topic)" />
        <param name="space_scalar" value="$(arg space_scalar)" />
        <param name="using_pedal" value="$(arg using_pedal)" />
    </node>

    <!-- Right arm -->
    <arg name="devicename_right" default="/dev/ttyUSB1" /> <!-- Change this to the correct port -->
    <arg name="ids_right" default="11,12,13,14,15,16,17"/>
    <arg name="arm_side_right" default="right" /> <!-- Change this to the correct side -->
    <arg name="right_position_topic" default="/dxl_input/pos_right" /> <!-- Change this to the correct topic -->
    <arg name="right_gripper_topic" default="/dxl_input/gripper_right" /> <!-- Change this to the correct topic -->
    <arg name="right_robot_position_topic" default="/cartesian/gripper_right_grasping_frame/current_reference" /> <!-- Change this to the correct topic -->

    <node name="right_dxl_6d_input" pkg="dxl_6d_input" type="dxl_6d.py" output="screen">
        <param name="protocol_version" value="$(arg protocol_version)" />
        <param name="devicename" value="$(arg devicename_right)" />
        <param name="baudrate" value="$(arg baudrate)" />
        <param name="addr_present_position" value="$(arg addr_present_position)" />
        <param name="len_present_position" value="$(arg len_present_position)" />
        <param name="ids" value="$(arg ids_right)" />
        <param name="urdf_filename" value="$(arg urdf_filename)" />
        <param name="debuginfo" value="$(arg debuginfo)" />
        <param name="arm_side" value="$(arg arm_side_right)" />
        <param name="position_topic" value="$(arg right_position_topic)" />
        <param name="gripper_topic" value="$(arg right_gripper_topic)" />
        <param name="robot_position_topic" value="$(arg right_robot_position_topic)" />
        <param name="space_scalar" value="$(arg space_scalar)" />
        <param name="using_pedal" value="$(arg using_pedal)" />
    </node>

     <!-- send the coman robot XML to param server -->
     <param name="robot_description" textfile="$(find dxl_6d_input)/src/arm.urdf" />
    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <!--remap from="joint_states" to="coman/joints_state"/-->
        <param name="publish_frequency" type="double" value="50.0" />
    </node> 


</launch>
